<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-feature
        android:name="android.hardware.touchscreen"
        android:required="false" />

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="false"
        android:label="@string/plugin_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:supportsRtl="true">

        <service
            android:name=".JellyfinLiveTvPluginService"
            android:exported="true">
            <intent-filter>
                <action android:name="com.sergioasenjo.vesperhome.plugin.LIVE_TV" />
            </intent-filter>
        </service>

    </application>

</manifest>
